<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <%- include('link') %>
    <style>
        body {
            background-color: #ffecb4;
        }
        .container {
            background-color: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .separate {
            height: 67px;
        }
    </style>
    <script src="/js/add-product-script.js">
    </script>
</head>
<body>
    <div class="separate">

    </div>
    <%- include('nav-for-pages') %>
    <div class="container-fluid">
        <div class="container p-5">
            <div class="title-div text-center">
                <p class="display-4">Add new product</p>
            </div>
            <div class="form w-75 mx-auto">
                <form action="/add-product" method="post" enctype="multipart/form-data">
                    <div class="form-floating mb-4">
                        <input type="text" name="name" class="form-control" id="floatingInput1" maxlength="30" placeholder="Product name">
                        <label for="floatingInput1">Product name</label>
                    </div>
                    <div class="form-floating">
                        <textarea style="height: 100px;" name="information" maxlength="1000" class="form-control" placeholder="Product information" id="floatingTextarea2"></textarea>
                        <label for="floatingTextarea2">Product information</label>
                    </div>
                    <div class="product-type d-flex align-items-center mt-3">
                        <p class="mt-3">Settings</p>
                        <button class="btn btn-outline-success ms-3 me-1" id="a" type="button">+</button>
                        <button class="btn btn-outline-warning" id="r" type="button" disabled>-</button>
                    </div>
                    <div class="setting mb-1">
                        <div class="first-input d-flex">
                            <input type="text" style="width: 60%;" class="form-control" name="price" placeholder="Product price" maxlength="7" required>
                            <input type="number" style="width: 40%" class="form-control ms-2" name="number" min="1" max="100000" maxlength="6" placeholder="Number of product" required>
                        </div>
                    </div>
                    <div class="status mb-4 text-center">
                        <span class="text-danger" id="setting-status"></span>
                    </div>
                    <div class="add-image mb-4">
                        <div class="input-group mb-3">
                            <p class="mb-1">(First image is main image.)</p>
                            <input type="file" accept="image/*" name="image" class="form-control w-100" multiple>
                            <p class="mb-1">(No more than 15 images)</p>
                        </div>
                    </div>
                    <div class="cate mb-4">
                        <div class="form-floating">
                            <select name="cate" class="form-select" id="floatingSelect" aria-label="Floating label select example" required>
                                <option value="Men clothes">#Men clothes</option>
                                <option value="Women clothes">#Women clothes</option>
                                <option value="Mobile and others">#Mobile and others</option>
                                <option value="Computer and laptop">#Computer and laptop</option>
                                <option value="Sport">#Sport</option>
                                <option value="Entertainment">#Entertainment</option>
                                <option value="Game">#Game</option>
                                <option value="Cosmetics">#Cosmetics</option>
                                <option value="Baby">#Baby</option>
                                <option value="Furniture">#Furniture</option>
                                <option value="Accessories">#Accessories</option>
                                <option value="Bag">#Bag</option>
                                <option value="Electrical appliance">#Electrical appliance</option>
                                <option value="Food and beverage">#Food and beverage</option>
                                <option value="Pet">#Pet</option>
                                <option value="Stationery">#Stationery</option>
                            </select>
                            <label for="floatingSelect">Select type of product</label>
                        </div>
                    </div>
                    <div class="btn-div text-end">
                        <button type="button" class="btn btn-success me-auto px-5" id="add">Add</button>
                    </div>
                    <input type="hidden" name="hiddenType">
                    <input type="hidden" name="hiddenPrice">
                    <input type="hidden" name="hiddenNumber">
                </form>
            </div>
        </div>
    </div>
</body>
</html>