<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget password</title>
    <%- include('link') %>
    <style>
        body, html {
            height: 100%;
        }
        .logo:hover {
            border-radius: 40px;
            background: #ffc824;
            box-shadow: 3px 3px 15px #ffd042;
        }
        .body {
            height: 85%;
            background-image: url('another-images/background.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .separate {
            height: 55px;
        }
        .card {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 30px;
        }
    </style>
    <script src='/js/forget-password-script.js'></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
        <div class="container-fluid">
            <div class="logo">
                <a class="navbar-brand ms-3 d-flex align-items-center" href="/category"><img style="width: 40px;" src="/another-images/koala.png" alt=""><b class="fs-3"><i>Koala</i></b></a>
            </div>
        </div>
    </nav>
    <div class="separator">
    </div>
    <div class="container-fluid body">
        <div class="card text-center w-50" id='first'>
            <div class="card-header">
                We will send you an OTP.
            </div>
            <div class="card-body">
                <div class="form-group my-1">
                    <input type="email" class="form-control" name='email' placeholder="Email">
                </div>
                <a id='send' href="#" class="btn btn-primary w-100 mb-1">Send</a>
                <div class="show-user w-100">
                    <div id='found' style="display: none;">
                        <p id='username' class='fs-5'></p>
                        <input type="text" name="otp" class='form-control w-75 mx-auto' placeholder="Enter OTP">
                        <p id="countdown" class="my-1"></p>
                        <p id="otp-status" class="text-danger"></p>
                        <button type='button' id='submit' class='btn btn-primary w-75'>Submit</button>
                    </div>
                    <div id='not-found' style='display: none'>
                        <img src="/another-images/page-not-found.png" style="width: 80px;"><br>
                        <p id='email' class='fs-4'>This email is not found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>